asgiref==3.5.2
Django==3.2.16
django-filter==22.1
djangorestframework==3.14.0
flake8==2.3.0
importlib-metadata==5.1.0
Markdown==3.4.1
mccabe==0.7.0
pep8==1.7.1
Pillow==9.3.0
psycopg2-binary==2.8.6
pycodestyle==2.9.1
pyflakes==2.5.0
python-dotenv==0.21.0
pytz==2022.6
sqlparse==0.4.3
typing_extensions==4.4.0
zipp==3.11.0
